

<form>
<h3 class="mb-3">Formulaire d'inscription</h3>
 <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input type="nom" class="form-control" id="nom" placeholder="Duval">
  </div>
  <div class="mb-3">
    <label for="prenom" class="form-label">Prenom</label>
    <input type="prenom" class="form-control" id="prenom" placeholder="Pierre">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email </label>
    <input type="email" class="form-control" id="email" placeholder="email@email.com">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>